h1
{
	font-family: Arial;
	text-align: center;
}
p
{
	font-family: Arial;
}
body
{
	background-color: blue;
}
.page
{
	background-color: lightblue;
	mid-height: 100%;
}
ul
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
ul li
{
	display: inline-block;
	padding: 10px;
}
ul li a
{
	font-family: Arial;
	font-weight: bold;
	text-decoration:none;
}
