h1
{
	font-family: Arial;
	text-align: center;
}
p, h2
{
	font-family: Arial;
}

body
{
	background-color: blue;
}
.page
{
	background-color: lightblue;
	width: auto;
	padding: 25px;
	mid-height: 100%;
}
.videos
{
	display: inline-block;
	column-count: 2;
	column-gap: 5px;
	margin-left: -500px;
	
}
.vid
{
	width: 480px;
	height: 270px;
}
ul
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
ul li
{
	display: inline-block;
	padding: 10px;
}
ul li a
{
	font-family: Arial;
	font-weight: bold;
	text-decoration:none;
}
